#inicio_sitios{
    text-align: -webkit-center;
    #head_sitio_universidad{
        margin: 30px;
        background-color: #29b26626;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 1px 1px 1px 1px #29b26685;
    }
    #head_sitio_algoritmo{
        margin: 30px;
        background-color: #e178002d;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 1px 1px 1px 1px #e1780076;
    }
    #head_sitio_flores{
        margin: 30px;
        background-color: #3483d31e;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 1px 1px 1px 1px #3484D3;
    }
}
.desarrollo_webs a{
        background-color: #5bb0a7;
        border-radius: 5px;
        text-transform: uppercase;
        padding: 20px;
        text-decoration: none;
        color: white;
        font-weight: bolder;
        font-size: 25px;
    &:hover{
        background-color:#5b6bb0;
    }
}