$azul-ppl: #043e60;
$verde-ppl: #29b266;

body {
    display: block;
    margin: 0px;
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
    h1 {
        font-size: 35px;
        color: $azul-ppl;
    }
    h2{
        font-size: 30px;
        color: $azul-ppl;
        a{
            font-size: 28px;
            font-weight: bolder;
            color: $verde-ppl;
            text-decoration: none;
            font-style: italic;
            letter-spacing: 5px;
        }
    }
    h3{
        font-size: 23px;
        color: $verde-ppl;
    }
    p, a, .desarrollo_webs p{
        font-size: 16px;
        color: black;
        text-align: justify;
    }
}