header {
    margin: 0px 20px;
    @extend %rad_shadow;
    position: sticky; 
    top: 0;
    background-color: #d2f1ee;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: stretch;
    align-items: center;
    z-index: 1;
    img {
        margin: 15px 30px 15px 30px;
        padding: 10px;
        max-height: 70px;
    }
    a {
        display: block;
        padding: 5px 10px;
        font-size: 17px;
        font-weight:600;
        color: #043e60;
        text-decoration: none;
        background: 0 0;
        border: 0;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
}
.pil-navegacion .enlace-nav.activo { 
    background-color: map-get($bg_verde_osc,color);
    color: white;
    @extend %rad_shadow;
}