.index_sitios {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 30px;
    text-align: center;
    background-color: #29b26617;
    h2{
        margin: 20px;
    }
    hr{
        margin: 30px 10px 30px 10px;
        color: map-get($bg_verde_osc,color);
    }
    a{
        @extend %btn_gral;
        align-self: center;
        justify-self: center;
        &:hover{
            background-color:map-get($btn_sites,hover);
        }
    }
    p{
        padding: 20px;
    }
    .index__iso{
        width:100%;
        max-width:200px;
    }
    .sitios{
        place-items: center;
        justify-content: center;
        img{
            margin: 30px 0px;
        }
    }
    img{
        padding-right: 0px;
        padding-left: 0px;
    }
}
.index__capt{
    border-radius: 20px;
    display: block;
    float: left;
    box-shadow: 2px 2px 1px map-get($bg_verde_osc,color);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    &:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}