%rad_shadow{
    border-radius: 5px;
    box-shadow: 2px 2px 1px #3b6d6970;
}
%head_sitios{
    margin: 30px;
    border-radius: 15px;
    padding: 20px;
}
%btn_gral{
    background-color: #5bb0a7;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 10px;
    padding: 20px;
    text-decoration: none;
    color: white;
}